# ------------ LEDs -----------------------------------------------------------
set_io   LED_R 41  # output
set_io   LED_G 40  # output
set_io   LED_B 39  # output


# ------------ Switch buttons -------------------------------------------------
set_io   SW1 23  # input
set_io   SW2 25  # input
set_io   SW3 34  # input
set_io   SW4 43  # input


# ------------ System 12 MHz clock --------------------------------------------
set_io   clk 35  # input


set_io   uart_tx 46  # input 0A
set_io   uart_rx 2  # input  6A
